<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

    <div class="signup-container">
        <h2>Sign Up</h2>
        <form action="{% url 'main:signup' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <button type="submit">Sign Up</button>
            <p>Sudah punya akun? <a href="{% url 'main:login' %}" class="login-link">Login</a></p>
        </form>
    </div>

</body>
</html>
